.nav-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;  
  height: 90px;
  background-color: rgb(222, 232, 81);
  top: 0;
}

a{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3em;
  color:rgb(19, 19, 18)
}